.game__container {
  display: flex;
  width: 962px;
  margin: 0 auto;
  margin-top: 5vh;
  font-size: 12px;
}

.top__container {
  /* display: block!important; */
  width: 962px!important;
  margin: 0 auto;
}

.left__container {
  width: 200px;
}

.center__container {
  width: 512px;
  margin: 0 25px;
}

.right__container {
  width: 200px;
}

.game__history {
  width: 198px;
  height: 200px;
  border: 1px solid #ccc;
  margin: 0 auto;
}

/* Chat Messages  */
.game__history__moves {
  background-color: #eee;
  height: 168px;
  overflow-y: scroll;
}

.game__history ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.game__history ul li {
  width: 80px;
}

.game__timer {
  
  background-color: #eee;
  text-align: left;
  font-size: 14px;
  width: 198px;
  height: 100px;  
  border: 1px solid #ccc;
  margin: 0 auto;
  margin-top: 30px;
}

.game__timer__white,
.game__timer__black{
  margin: 10px 0;
  padding: 0 10px ;

}

/* Title */
.chat__title,
.history__title,
.game__timer__title {
  background-color: #ccc;
  padding: 5px;
  font-size: 12px;
  text-align: center;
}

.chat__title p,
.history__title p,
.game__timer__title p {
  color: #555;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
