ul {
    list-style-type: none;
}

.mainBox{
    width: 50%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    border: 1px solid grey;
    background-color: #E0E0E0;
}



.seeker-table{
    border-collapse: collapse;
    margin: 20px 0 0 0;
    width: 100%;
}

    .seeker-table th{
        padding: 5px;
        text-align: center;
        background-color: #F1EFEF;
    }
    .seeker-table th:first-child{
        width: 20px;
    }
    .seeker-table td:nth-child(2){
        padding: 5px;
        width: 20px;
        text-align: center;
    }
    .seeker-table th:nth-child(3){
        width: 45px;
    }
    .seeker-table th:nth-child(4){
        width: 55px;
    }

    .seeker-table tr:nth-child(even){
        background-color: #F1EFEF;
    }

    .seeker-table td{
        padding: 5px;
        text-align: center;
    }
    .seeker-table-table tr{
        padding: 5px;
        text-align: center;
    }