const socketAPI = {
    address: '',
    accessToken: ''
};

const userArgs = {
    collection: "users",
    ioEvent: "userList",
    fetchUrl: `${socketAPI.address}/users`,
    authUrl: `${socketAPI.address}/auth`,
    checkExistUrl: `${socketAPI.address}/checkuser`
};

const eventArgs = {
    collection: "events",
    ioEvent: "eventList",
    fetchUrl: `${socketAPI.address}/events`
};

module.exports = {
    socketAPI,
    userArgs,
    eventArgs
}